.nonpage-container {
     margin: 10px;
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(auto-fit, 160px);
     justify-content: center;
     padding: 10px;
}

.non-page-content {
     background-color: rgb(239, 239, 239);
     padding: 20px;
     width: 80%;
     display: flex;

     /* position: absolute; */
     border-radius: 10px;
}

.non-page-image-container {
     display: flex;
     flex-direction:column ;
     align-items: center;
     justify-content: center;
     gap: 5px;
}

.non-page-image-container > img {
     width: 100px;
     height: 100px;
     object-fit: contain;
     margin-bottom: 10px;
}
.non-page-image-container > p {
     text-overflow: ellipsis;
     overflow: hidden;
     font-family: Roboto;
     inline-size: 140px;
     white-space: nowrap;
     font-size: 13px;
}
.non-page-image-container > p:nth-of-type(2) {
     color: #8b8a8a;
}

.non-page-image-container > small {
     display: block;
     position: relative;
     top: 20px;
     margin: 0;
     border: 1px solid;
}

@media screen and (max-width: 765px) {
     .non-page-image-container > img {
          width: 100px;
          height: 100px;
          object-fit: contain;
     }

     .non-page-image-container > p {
          text-overflow: ellipsis;
          overflow: hidden;
          font-family: Roboto;
          /* inline-size: 140px; */
          /* position: absolute; */
          white-space: nowrap;
     }
}
